configuration/yaxpreferences.dtd

<?xml version="1.0" encoding="ISO-8859-1"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Joerg Moebius (Unternehmensberatung Moebius) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT doc ANY><!ELEMENT preferences (process, transformers, foTransformers, xinclude, pipetrace, porttrace)><!ELEMENT process (doc)><!ATTLIST process	suppress CDATA #REQUIRED	standardImplementationWarnings CDATA #REQUIRED	preferenceValueMessages CDATA #REQUIRED><!ELEMENT transformers (doc, transformer+)><!ATTLIST transformers	default CDATA #REQUIRED	checkTransformerAvailability CDATA #REQUIRED><!ELEMENT foTransformers (doc, foTransformer)><!ATTLIST foTransformers	default CDATA #REQUIRED	checkFoTransformerAvailability CDATA #REQUIRED><!ELEMENT xinclude (doc)><!ATTLIST xinclude	defaultEncoding CDATA #REQUIRED><!ELEMENT pipetrace (doc, appearance)><!ATTLIST pipetrace	automaticOutput CDATA #REQUIRED><!ELEMENT porttrace (doc)><!ATTLIST porttrace	automaticOutput CDATA #REQUIRED><!ELEMENT transformer EMPTY><!ATTLIST transformer	name NMTOKEN #REQUIRED	classname NMTOKEN #REQUIRED><!ELEMENT foTransformer EMPTY><!ATTLIST foTransformer	name CDATA #REQUIRED	classname CDATA #REQUIRED><!ELEMENT appearance (explicitPort, explicitConnection, implicitPort, implicitConnection)><!ELEMENT explicitPort EMPTY><!ATTLIST explicitPort	color CDATA #REQUIRED><!ELEMENT explicitConnection EMPTY><!ATTLIST explicitConnection	color CDATA #REQUIRED><!ELEMENT implicitPort EMPTY><!ATTLIST implicitPort	color CDATA #REQUIRED><!ELEMENT implicitConnection EMPTY><!ATTLIST implicitConnection	color CDATA #REQUIRED>